








body{
        background-image: url('Background.png');
        background-size: 100% 100%;   
        background-attachment: fixed;}


        .buttons {
            background-color: #c29025f4;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: grabbing;
            
        }
        .buttons:hover {
            /* background-color: #31c224f4; */
        }
       .nav{
            list-style-type: none;
            display: flex;
            justify-content: center;    
            align-items: center;
            margin: 0;
            padding: 0;
            background-color: transparent;  
            /* position: fixed; */
            /* top: 0;  */
            width: 100%;
            height: 60px;
            z-index: 1000;  
            /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
            padding: 10px;
            flex-wrap: wrap;    
        }
        .navbutton {
            background-color: #c29025f4;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
        }
        .navbutton:hover {
            background-color: #31c224f4;
    transform: translateY(-5px);
transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
      
 nav {
            background-color: transparent;    
        }
        .nav-div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        header {
            background-color: transparent;
            text-align: center;
        }
        

.img-div {
/* position: absolute; */

justify-content: center;
width: 30%;
height: 100%;
display: flex;
/* justify-content: center; */
/* max-width: fit-content; */
margin-left: 450px;

    img{
    width: 80%;
    
}


 

}
.img-div :hover{
    transform: translateY(-5%);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}


.email-div {
    
h5 {
    font-size: 30px;
}
    img{
        width: 3%;
    }

}
.email-div :hover{
transform: translateY(-10%);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.message{
    
}
.message :hover{
    transform: translateY(-10%);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


     