
h1{
    text-align: center;
    color: #c29025f4;
    font-size: 5em;
    margin-top: 20px;
}
h1:hover {
      color: #31c224f4;

    cursor: pointer;
}
body{
        background-image: url('Background.png');
        background-size: 100% 100%;   
        background-attachment: fixed;}


/* my images */
#myimg {
    height: 300px;
   width: 300px;
   border-radius: 50%;    
    /* transform: translateY(60%); */
    transform: translateX(-10%);
    
    border: 2px solid #c29025f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 0px;
    position: absolute;
       right: 0px;

}
.image {
    display: flex;
    justify-content: right;
    align-items: left;
    border-left: none;
    margin-left: 1100px;
    width: 30%;
    margin-bottom: 0px;
    object-fit: cover;
    
}


        /* introductiondiv */
.heading-edu {
     font-size: 70px;  
    color: #c29025f4;
    margin-left: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 20%;
    
}
.heading-edu:hover {
    color: #31c224f4;
    cursor: auto;
}
.eduheading-div{
    margin-top: 0px;
    
    .intro-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        /* margin-left: 100px; */
        position:absolute;
        margin-top: 10px;

        /* border: 2px solid #c29025f4; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    }
}

                .buttons {
            background-color: #c29025f4;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: grabbing;
            
        }
        .buttons:hover {
            /* background-color: #31c224f4; */
        }
        .nav{
            list-style-type: none;
            display: flex;
            justify-content: center;    
            align-items: center;
            margin: 0;
            padding: 0;
            background-color: transparent;  
            /* position: fixed; */
            /* top: 0;  */
            width: 100%;
            height: 60px;
            z-index: 1000;  
            /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
            padding: 10px;
            flex-wrap: wrap;    
        }
        .navbutton {
            background-color: #c29025f4;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
        }
        .navbutton:hover {
            background-color: #31c224f4;
        }
        .education-table  {
            border: 1px solid #c29025f4;
        }
        .education-table td {
            padding: 10px;
            text-align: center;
            border: 1px solid #c29025f4;
            
        }
        .education-table th   {
            background-color: #c29025f4;
            color: white;
             padding: 10px;
            text-align: center;
            border: 1px solid #c29025f4;
            border-radius: 10px;
            
        }
        .education-table th:hover {
            background-color: #0f7705f4;
        }
 nav {
            background-color: transparent;    
        }
        .nav-div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        header {
            background-color: transparent;
            text-align: center;
        }
        /* FooterContact */
        .conbutton {
            background-color: #c29025f4;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
        }
        .conbutton:hover {
            background-color: #31c224f4;
        }

        .contact-div {
            display: inline-block;
            width: 100%;
            height: auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* margin-top: 20px; */
            h5 {
                color: #c29025f4;
                margin-bottom: 10px;
                font-size: 1.5em;
                
            }
        }